.first {
  margin: 0;
  padding: 0;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .row-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: yellow;
  
    .cards {
      width: 30%;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      margin-bottom: 20px;
    
      .title {
        width: 100%;
        height: 25%;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
      }
      
      .image {
        width: 100%;
        height: 75%;
        img {
          width: 100%;
          height: 100%;  
          object-fit: cover;
        }
      }
    }
  }
}